:root {
    --accent-color: #20484F;
    --secondary-accent-color: #B8E4DA; 
    --primary-color: #072125;
    --white-color: #ffffff; 
    --secondary-white-color: #DCF2ED; 
    --primary-font: 'Plus Jakarta Sans', sans-serif; 
}

body {
    color: var(--primary-color);
    font-family: var(--primary-font);
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
    color: inherit
}

.list {
    list-style: none;
}

.container-header {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 17px 40px;
    background-color: var(--accent-color);
}
.nav-container {
    display: flex;
    align-items: center;
}
.logo {
    color: var(--white-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
}

.logo:hover,
.logo:focus, 
.nav-link:hover,
.nav-link:focus{
    color: var(--secondary-accent-color);
}

.site-nav {
    display: flex;
    margin-left: auto;
    margin-right: 316px;
    color: var(--white-color); 
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.site-nav-item:not(:last-child) {
margin-right: 32px;
}

.auth-nav {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.auth-sign {
    min-width: 82px;
    margin-right: 12px;
    padding: 10px 16px;
    color: var(--accent-color);
    background-color: var(--secondary-accent-color);
}

.auth-log {
    min-width: 72px;
    margin-right: 12px;
    padding: 10px 16px;
    color: var(--white-color);
}

.auth-sign:hover,
.auth-sign:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.auth-log:hover,
.auth-log:focus {
    background-color: var(--secondary-accent-color);
    color: var(--accent-color);
}

.hero {
    padding-top: 80px;
    padding-bottom: 130px;
}

.small-title {
    margin-bottom: 26px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
}

.big-title-hero {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
}

.wrapper-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.primary-btn,
.secondary-btn:hover,
.secondary-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.secondary-btn,
.primary-btn:hover,
.primary-btn:focus {
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid rgba(32, 72, 79, 0.1);
}

.btn-hero {
    display: flex;
}

.btn-hero .primary-btn {
    margin-right: 20px;
}

.primary-btn, .secondary-btn {
    padding: 16px 36px;
}

.card-hero {
    position: relative;
}

.hero-decoration1 {
    position: absolute;
    left: 100px;
    top: 2px;
}
.hero-decoration2 {
    position: absolute;
    right: 36px;
    top: 306px;
}
.big-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.text-hero {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.partners {
    margin-top: 40px;
    margin-bottom: 40px;
}

.partners-title {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 20px;
}

.partners-span {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -88px;
    margin-top: -20px;
}

.partners-item {
    flex-basis: calc((100% - 4*88) / 4);
    margin-left: 88px;
    margin-top: 20px;
}

.partners-item:hover {
    background-color: var(--secondary-accent-color);
}
.advantage {
padding-top: 118px;
padding-bottom: 100px;
}
    
.advantage-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-advantage-wrapper {
    max-width: 560px;
}
.advantage-title {
    margin-bottom: 20px;
}

.advantage-text {
    margin-bottom: 27px;
}
.primary-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -44px;
    margin-top: -28px;
}

.advantage-list-item {
    max-width: 250px;
    margin-left: 44px;
    margin-top: 28px;
    flex-basis: calc((100% - 4*44) / 4);
}

.advantage-icon {
    margin-bottom: 20px;
}


.list-title, .review-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 12px;
}

.list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.advantage-card {
    position: relative;
}

.advantage-decor1 {
    position: absolute;
    top: 60px;
    left: 320px;
}

.advantage-decor2 {
    position: absolute;
    top: 376px;
    left: 18px;
}

.second-advantage {
    padding-top: 100px;
    padding-bottom: 100px;
}

.second-advantage-title {
    text-align: center;
    margin-bottom: 74px;
}

.bg-img {
    position: relative;
    overflow: hidden;
}
.content-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second-advantage-wrapper {
    display: flex;
    justify-content: space-between;
}
.second-advantage-item, .team-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
}

.card1 {
    margin-bottom: 26px;
}

.card2 {
    margin-bottom: 40px;
}

.card3 {
    margin-bottom: 18px;
}

.card-caption {
    max-width: 306px;
    text-align: center;
}

.third-advantage {
    padding-top: 76px;
    padding-bottom: 124px;
}

.third-advantage-title {
    margin-bottom: 12px;
}

.third-advantage-text {
    margin-bottom: 58px;
}

.third-advantage-list {
    display: flex;
    justify-content: space-between;
}

.third-advantage-icon {
    margin-bottom: 32px;
}

.third-advantage-item {
    max-width: 266px;
}

.reviewes {
    padding-top: 70px;
    padding-bottom: 104px;
} 

.flex-group1-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.review-btn {
    align-self: flex-end;
}
 .review-title {
     margin-bottom: 16px;
 }
.review-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 86px;
}

.review-list {
    display: flex;
    justify-content: space-between;
}

.review-list-item {
    max-width: 386px;
    padding: 36px 50px;
}

.review-decoration {
    margin-bottom: 36px;
}
.position-costumer {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.slogan-white {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.slogan-black {
    text-align: center;
    padding-top: 68px;
    padding-bottom: 70px;
}

.slogan-black-title {
    margin-bottom: 28px;
}

.slogan-text {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
}

.slogan-black-text {
    margin-bottom: 60px;
}


.footer {
    background-color: var(--primary-color);
    padding-top: 68px;
    padding-bottom: 16px;
}

.footer-wrapper {
    display: flex;
    margin-bottom: 60px;
}

.footer-block1 {
    margin-right: 400px;
}

.footer-block2 {
    display: flex;
}

.logo-footer {
    margin-bottom: 40px;
}

address, .item-nav-footer {
    color: var(--secondary-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
 
.adress-link:hover,
.address-link:focus,
.link-nav-footer:hover,
.link-nav-footer:focus {
    color: var(--accent-color);
}

.text-address:not(:last-child) {
    margin-bottom: 24px;
}

.title-nav-footer {
    color: var(--white-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 24px;
}

.item-nav-footer:not(:last-child) {
    margin-bottom: 20px;
}

.footer-nav-item:not(:last-child) {
    margin-right: 76px;
}

hr {
    border: none;
    background-color: var(--secondary-accent-color);
    color: var(--secondary-accent-color);
    height: 1px;
    opacity: 0.2;
    margin-bottom: 16px;
}

.copyright {
    display: block; 
    color: var(--secondary-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

/* == ABOUT-US == */

.hero-about {
    padding-top: 60px;
    padding-bottom: 26px;
}

.title-hero-about {
    margin-bottom: 36px;
}

.hero-about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-about-left {
    max-width: 692px;
}

.numbers {
    padding-top: 76px;
    padding-bottom: 76px;
}

.title-numbers {
    margin-bottom: 26px;
}
 
.text-numbers {
    margin-bottom: 90px;
}

.numbers-wrapper-left {
    max-width: 528px;
    margin-right: 116px;
}

.numbers-wrapper {
    display: flex;
}

.list-numbers {
    display: flex;
    flex-wrap: wrap;
    margin-left: -80px;
    margin-top: -60px;
}
.list-numbers-item {
    margin-left: 80px;
    margin-top: 60px;
    flex-basis: calc((100% - 160px) / 2);
}
.number {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 32px;
}

.story {
    padding-top: 86px;
    padding-bottom: 86px;
}

.story-title {
    margin-bottom: 28px;
}

.story-wrapper {
    display: flex;
}

.story-text:not(:last-child) {
margin-bottom: 20px;
}

.story-wrapper-left {
    margin-right: 38px;
    max-width: 470px;
}

.story-wrapper-right {
    max-width: 646px;
}

.photo {
   padding-top: 48px;
   padding-bottom: 48px; 
}

.photo-title {
    margin-bottom: 20px;
    text-align: center;
}
 
.photo-text {
    text-align: center;
    margin-bottom: 20px;
}

.galery {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
 
.photo-item:nth-child(2n) {
    margin-top: 176px;
}

.team {
    padding-top: 94px;
    padding-bottom: 78px;
    text-align: center;
}

.container-team {
    padding-left: 200px;
    padding-right: 200px;
}
.team-title {
    margin-bottom: 68px;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -76px;
    margin-top: -40px;
    margin-bottom: 60px;
}

.team-item {
    margin-left: 76px;
    margin-top: 40px;
    flex-basis: 224px;
}

.team-img {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.team-name {
    margin-bottom: 8px;
}

.team-position {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 16px;
}

.list-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comment {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

.exceptions {
    padding-top: 70px;
    padding-bottom: 90px;
    text-align: center;
}

.quotes-picture {
    margin-bottom: 48px;
}

.exception-text {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 66px;
}

.name-author {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 8px;
}

.author {
    display: flex;
    align-items: center;
    justify-content: center;
}

.author-text {
    margin-left: 20px;
}

.position-author {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.slogan-white {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.text-btn-wrapper>.btn {
    align-self: flex-end;
}

.slogan-white-text {
    margin-right: 80px;
}

.slogan-item {
    display: flex;
}

.slogan-list {
    display: flex;
}

.slogan-item:not(:last-child) {
    margin-right: 42px;
}

.slogan-img {
    margin-right: 16px;
}

.slogan-item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}


